 <header>Chyld Says...</header>
    <div id="wrapper">
      <div id="submit-status">
        <form name="input" action="/" method="post">
          <input type="radio" name="flatironschool[status]" value="1">Open<br>
          <input type="radio" name="flatironschool[status]" value="0">Closed<br>
          <input type="submit" value="Submit">
        </form>
      </div>
      <div id="img_container">
		<div id="chyld"></div>
        <div id="status_box">
          <h2 id="status">Nope</h2>
        </div>
      </div>
    </div>

