<header>Chyld Says...</header>
<div id="wrapper">

  <div id="img_container">
    <img src="assets/user-image-lg.jpeg">
    <div id="status_box">
      <h2 id="status">Nope</h2>
    </div>
  </div>
</div>

